/* reset css start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

a img
{
    border: none;
}

/* remember to define focus styles! */
:focus
{
    outline: 0;
}

body
{
    line-height: 1;
    color: black;
    background: white;
}

ol, ul
{
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table
{
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td
{
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after
{
    content: "";
}

blockquote, q
{
    quotes: "" "";
}

a
{
    text-decoration: none;
    color: inherit;
}

/* reset css end */

/*general start*/
body
{
    font-family: Arial, Helvetica;
    font-size: 12pt;
    background-color: #eee;
    background-image: url(img/content-bckg.gif);
}
a
{
    color: #6495ed;
}
a:hover
{
    text-decoration: underline;
}
h1
{
    font-size: 24pt;
    font-family: "Trebuchet MS";
    font-weight: bold;
    color: #3d3d3d;
}
p
{
    margin: 20px 0 15px 0;
}

/* general end */

/*header start*/
header
{
    margin: 30px auto 0 30px;
    line-height: 200px;
    text-align: right;
}

.avatar
{
    float: right;
    border: 5px ridge #8b8b8b;
    width: 300px;
    margin: 0 30px 0 30px;
}
/*header end*/

/*content start*/
.wrapper
{
    margin: auto;
    width: 80%;
}
#content
{
    position: relative;
    background: #fff;
    padding: 30px;
}

#content ul
{
    list-style: disc;
    margin-left: 20px;
}
#usability
{
    font-family: cursive;
}
/*content end*/

/*tabs start*/
#tabs
{
    font-size: 10pt;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

#tabs li
{
    float: left;
    margin-left: -15px;
    display: inline-block;
    border-bottom: 1px solid #333;
}

#tabs a
{
    float: left;
    position: relative;
    padding: 0 40px;
    height: 0;
    line-height: 30px;
    text-transform: uppercase;

    color: #fff;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #3D3D3D;
    border-bottom-color: #333;
    opacity: 0.3;
    /*filter: alpha(opacity=30);     */
}

#tabs a:hover,
#tabs a:focus
{
    border-bottom-color: #2ac7e1;
    opacity: 1;
    text-decoration: none;
    /*filter: alpha(opacity=100);  */
}

#tabs a:focus
{
    /*outline: 0; */
}

#tabs #current
{
    z-index: 3;
    border-bottom-color: #3d3d3d;
    opacity: 1;
    /*filter: alpha(opacity=100);  */
}

/* tabs end */
