/*general start*/
body {
    font-family: Arial, Helvetica;
    font-size: 12pt;
    background-color: #eee;
    background-image: url(img/content-bckg.gif);
}

a {
    text-decoration: none;
    color: #6495ed;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 24pt;
    font-family: "Trebuchet MS";
    font-weight: bold;
    color: #3d3d3d;
}

ul {
    margin: 0;
    padding: 0;
}
/* general end */

/*header start*/
header {
    margin: 30px auto 15px 30px;
    height: 220px;
    vertical-align: middle;
    text-align: right;
}

#img {
    float: right;
    border: 5px ridge #8b8b8b;
    width: 300px;
    height: 214px;
    margin: 0 30px 0 30px;
    background: url("img/01.jpg") no-repeat;
    background-position: left;
}
#img img{
    display: none;
}
#contacts {
    width: 200px;
    float: right;
    line-height: 35px;
    color: #fff;
    border-right: 30px solid transparent;
    background-color: #333;
    opacity: 0.5;
    border-radius: 10px;
    font-weight: bold;
}
/*header end*/

/*content start*/
.wrapper {
    margin: auto;
    width: 80%;
}

#content {
    position: relative;
    background: #fff;
    padding: 30px;
}

#content div {
    display: none;
}

#content div:first-child {
    display: block;
}

#content ul {
    margin-left: 50px;
}

#usability {
    font-family: cursive;
}

/*content end*/

/*tabs start*/
#tabs {
    font-size: 10pt;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

#tabs li {
    float: left;
    margin-left: -15px;
    display: inline-block;
    border-bottom: 1px solid #333;
}

#tabs a {
    float: left;
    position: relative;
    padding: 0 40px;
    height: 0;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #3D3D3D;
    border-bottom-color: #333;
    opacity: 0.3;
}

#tabs a:hover,
#tabs a:focus {
    border-bottom-color: #2ac7e1;
    opacity: 1;
    text-decoration: none;
    /*filter: alpha(opacity=100);  */
}

#tabs #current {
    z-index: 3;
    border-bottom-color: #3d3d3d;
    opacity: 1;
}
/* tabs end */